*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# tapaal ignore
tapaal/gradle
tapaal/.bzr
tapaal/gradlew.bat
tapaal/gradlew
tapaal/.bzrignore
tapaal/Makefile
tapaal/run-tapaal-j6.sh
tapaal/run-tapaal-j7.sh
tapaal/build

# cli
cli-app/build

# project
.gradle
build